{% extends 'layout.html'%}
{% load static %}
{% block content %}




<!-- Main -->
 

    
    
     

    <div class="container title" style="padding:10px">
      <h1 class="title">Summit Oak</h1>
      <h1 class="subtitle">Investment Group</h3>
      <a href="#"><img src="{% static 'banks.jpg' %}" class="rounded mx-auto d-block" alt="banks" width="700px" height="400px" /></a>
    </div> 

    <div class="container-fluid" style="padding:10px; justify-items: center;">
      <h3>Award-winning risk strategies</h3>
      <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur </p>
    </div>
       

        <a href="#"><img src="{% static 'skyscraper.jpg' %}" class="rounded mx-auto d-block"  width="800px" height="1000px " alt="" /></a>
        <div class="container-fluid" style="padding:10px; justify-items: center;">
          <h3>Portfolio Management</h3>
          <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur </p>
        </div>
        <a href="#" class="image icon solid fa-mobile-alt"><img src="images/pic03.jpg" alt="" /></a>
        <div class="content">
          <h3>The Third Thing</h3>
          <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
        </div>
    </div>

    

  



  </div>

<!-- Footer -->


    </div>


<!-- Scripts -->
{% endblock %}
